body {
    background-color: darkslategray;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 150px;
    height: 200px;
    border-radius: 10px;
}